{
    "singleQuote": true,
    "printWidth": 100,
    "max-line-length": [true, { "limit": 100 }],
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "endOfLine": "auto",
    "arrowParens": "always",
    "tabWidth": 2,
    "useTabs": false,
    "parser": "flow"
}