.movie_sub_menu {
    background-color: #232323;
    position: absolute;
    top: 8px;
    right: 8px;
    color: #FFF;
    font-size: 18px;
    width: 180px;
    border-radius: 6px;
    padding: 10px 0;
    .page_close {
        position: absolute;
        line-height: 0.75rem;
        top: 8px;
        right: 8px;
    }
    .icon_small {
        padding: 0;
        background-size: cover;
        line-height: 0.75rem;
        width: 0.75rem;
        height: 0.75rem;

    }

    .menu_list{
        padding-top: 15px;
    }
    .menu_item {
        padding: 5px 10px;
        margin-bottom: 5px;
        &:hover {
            cursor: pointer;
            background-color: #F65261;
        }
    }
}