.movie-card {
    margin-left: 10%;
    padding-bottom: 20px;
}

.movie-image {
    max-inline-size: fit-content;
    padding-bottom: 10px;
}

.movie-props {
    font-size: 18px;
    .movie-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #bbbbbb;
        padding-bottom: 5px;
        .movie-releaseDate {
            border-radius: 5px;
            font-size: 15px;
            border: 0.5px solid #bbbbbb;
            width: 70px;
            height: 25px;
            margin-right: 18%;
            text-align: center;
            width: 50px;
        }
    }
    .movie-genre {
        color: #555555;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 1199px) {
    .movie-props .movie-info .movie-releaseDate {
        margin-right: 2%;
    }
}