.movies_founded {
    padding-left: 5%;
    font-size: 20px;
    color: #FFFFFF;
}

.movies-wraper {
    padding-bottom: 50px;
    padding-top: 10px;
    .movie-unit {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}