.movies-wraper {
    padding-bottom: 50px;
    padding-top: 10px;
    .movie-unit {
        position: relative;
        .movie_holder {
            position: relative;
        }
        .sub_menu_icon {
            position: absolute !important;
            right: 7px;
            top: 7px;
            width: 50px;
            height: 50px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}